{% extends "OberonAssignmentBundle::layout.html.twig" %}

{% block title "Kies een postcode" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Kies een postcode</h1>

    <form action="{{ path('_welcome') }}" method="POST" id="brewery_form">
        {{ form_label(form.zipcode) }}
        {{ form_widget(form.zipcode) }}
        <input type="submit" value="Kies" />
        {{ form_errors(form.zipcode) }}
        {{ form_rest(form) }}
    </form>
    
    {% if closest.name is defined %}
      <h2>Dichtstbijzijnde brouwerij</h2>
      <div>
        {{ closest.name }}
      </div>
      <div>
        {{ closest.address }}
      </div>
      <div>
        {{ closest.zipcode }} {{ closest.city }}
      </div>
    {% endif %}
{% endblock %}
